{% extends "layout.html" %}

{% block content %}
<section class="description">
    <p>Joseph Spencer is a real weirdo. In 2018 he created CASHVOID.com. He isn't entirely sure why he made CASHVOID.com or why he is typing this right now.</p>
    <p>CASHVOID.com has gone through many iterations over the years but pretty much all of them have been bad. This might be the worst version yet.</p>
    <!-- <p>On the site you will find some silly javascript animations, AI generated slop, a QR code to donate bitcoin and an extremely advanced cutting edge LLM chatbot named CHATVOID.</p> -->
    <p><a href="{% url 'chat' %}">Speak with CHATVOID to learn more</a></p>
</section>
{% endblock %}
